/* Variables */
:root {
  --color-white: #FFFFFF;
  --color-red: #FF6565;
  --font-family: "Source Sans Pro", sans-serif;

  --font-size-xsmall: 0.75rem; /* 12px */
  --font-size-small: 0.875rem; /* 14px */
  --font-size-standard: 1rem; /* 16px */
  --font-size-medium: 2rem; /* 32px */
  --font-size-large: 2.875rem; /* 46px */
  --font-size-icon: 6rem; /*  icon/glyph/font size */

  --button-hover-opacity: 0.9;
  --font-weight-bold: 700;
  --font-weight-regular: 400;

  --line-height-normal: normal;
  --line-height-bold: 26px;
}

/* Base styles for all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
}

html, body {
  margin: 0;
  padding: 0;

a {
  text-decoration: none;
}

a:hover, a:active {
  color: var(--color-red);
  cursor: pointer;
}

button {
  background: var(--color-red);
  color: var(--color-white);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  width: 162px;
  height: 44px;
  border-radius: 22px;
  border: 0;
}

button:hover {
  opacity: var(--button-hover-opacity);
  cursor: pointer;
}

/* Header */
header {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 90px;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* Logo styling */
.logo {
  width: 161px;
  height: 32px;
}

/* Hidden checkbox for navigation toggle on mobile */
.nav-toggle-checkbox {
  height: 0px;
}

/* Header content container */
.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}


/* Navigation styling within the header */
.header-content nav {
  display: flex;
  width: 35%;
  justify-content: space-between;
}

/* Navigation links styling */
nav a {
  color: var(--color-white);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-bold);
}

/* Media Queries for responsive design */

/* Desktop devices (screen width 768px or more) */
@media screen and (min-width: 768px) {
  header {
    width: 70%;
  }

  .header-content nav {
    width: 35%;
  }
}

/* Tablet devices (screen width less than 768px and greater than 480px) */
@media screen and (max-width: 767px) and (min-width: 481px) {
  header {
    width: 85%;
  }

  .header-content nav {
    width: 40%;
  }
}

/* Mobile devices (screen width 480px or less) */
@media screen and (max-width: 480px) {
  header {
    top: 13%;
    left: 50%;
    height: 30vh;
    justify-content: end;
    transform: translate(-50%, -50%);
  }

  /* Hamburger Menu Hidden checkbox for toggling navigation in mobile version */
  .nav-toggle-checkbox {
    top: 20px;
    left: 20px;
    height: 32px;
    width: 32px;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    display: block;
    z-index: 5; /* Ensure it is above other elements */
  }
  
  /* Hamburger Menu Button styling */
  .nav-toggle-button {
    display: flex;
    top: 20px;
    left: 20px;
    height: 18px;
    width: 25px;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
  }

  /* Hamburger Menu: Line styling */
  .nav-toggle-button .nav-line {
    display: block;
    height: 2.2px;
    width: 100%;
    border-radius: 10px;
    background: var(--color-white);
  }

  /* Transition for the first line of the hamburger button */
  .nav-toggle-button .nav-line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  /* Transition for the second line of the hamburger button */
  .nav-toggle-button .nav-line2 {
    width: 18px;
    transition: transform 0.2s ease-in-out;
  }

  /* Transition for the third line of the hamburger button */
  .nav-toggle-button .nav-line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  /* Transformations for the hamburger button lines when the checkbox is checked to turn into x */
  input[type="checkbox"]:checked ~ .nav-toggle-button .nav-line1 {
    transform: rotate(45deg);
  }

  input[type="checkbox"]:checked ~ .nav-toggle-button .nav-line2 {
    transform: scaleY(0);
  }

  input[type="checkbox"]:checked ~ .nav-toggle-button .nav-line3 {
    transform: rotate(-45deg);
  }

  /* Hidden navigation menu by default */
  .header-content nav {
    opacity: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transform: scale(0);
    transform-origin: top;
    transition: opacity 0.75s ease-in-out, height 0.4s ease;
  }

  /* Show navigation menu when the checkbox is checked */
  input[type="checkbox"]:checked ~ .header-content nav {
    height: auto;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  /* Hidden navigation links by default */
  .header-content nav a {
    visibility: hidden;
    display: block;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
  }

  /* Show navigation links when the checkbox is checked */
  input[type="checkbox"]:checked ~ .header-content nav a {
    visibility: visible;
    transform: scale(1);
    transition: transform 0.5s ease-out;
  }

  /* Header content adjustments for mobile */
  .header-content {
    width: 75%;
    height: 70%;
    text-align: center;
    display: block;
  }

  /* Logo adjustments for mobile */
  .header-content img {
    margin-top: 8%;
  }

  /* Navigation link adjustments for mobile */
  .header-content nav a {
    margin-top: 25%;
    padding-left: 17%;
  }

  /* Navigation adjustments for mobile */
  nav {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  /* Adjust the position of the hamburger button */
  .nav-toggle-button {
    left: 25px;
    top: 52px;
  }
}

/* Banner Section */

#banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url(images/headphones_hero_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

/* Content within the banner */
.banner-content {
  margin-top: 380px;
  align-self: center;
  text-align: center;
  width: 50%;
  padding-bottom: 20px;
  color: var(--color-white);
}

/* Headings within the banner */
.banner-content h1, .banner-content h3 {
  line-height: var(--line-height-normal);
}

/* Margin adjustments for headings */
.banner-content h1 {
  margin-bottom: 0px;
}

.banner-content h3 {
  margin-top: 0px;
  margin-bottom: 50px;
}

/* Paragraph within the banner */
.banner-content p {
  line-height: var(--line-height-bold);
  font-weight: var(--font-weight-regular);
  margin-top: 70px;
}

/* Media Queries for responsive design */

/* Tablet devices (screen width less than 768px and greater than 480px) */
@media screen and (max-width: 767px) and (min-width: 481px) {
  .banner-content {
    width: 75%;
  }
}

/* Mobile devices (screen width 480px or less) */
@media screen and (max-width: 480px) {
  .banner-content {
    margin-top: 300px;
    width: 87%;
  }
}


/* What We Do... Section */

.what-we-do {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  min-height: 75vh;
}

/* Title and description for the What We Do... section */

.what-we-do-text {
  margin-top: 0px;
  width: 50%;
  height: 45%;
  display: flex;
  flex-direction: column;
}

.what-we-do-text h2 {
  font-size: var(--font-size-large);
}

.what-we-do-text p {
  margin-top: 40px;
  line-height: var(--line-height-bold);
  font-size: var(--font-size-standard);
}

/* Container for the feature glyph blocks */
.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 45%;
  font-size: var(--font-size-small);
}

/* Individual glyph block styling */
.feature-block {
  flex: 1 1 calc(25% - 50px);
  display: flex;
  flex-direction: column;
  max-width: 200px;
  line-height: var(--line-height-bold);
}


/* glyph styling */
.icon {
  font-size: var(--font-size-icon);
  color: var(--color-red);
}

/* Media Queries for the What We Do... section */

/* Tablet devices (screen width less than 768px and greater than 480px) */
@media screen and (max-width: 767px) and (min-width: 481px) {
  .what-we-do-text {
    width: 100%;
  }

  .feature-block {
    flex-basis: calc(50% - 50px);
  }
}

/* Mobile devices (screen width 480px or less) */
@media screen and (max-width: 480px) {
  .feature-block {
    flex-basis: calc(100% - 20px);
  }

  .features-container {
    justify-content: center;
  }
}

/* Our Results Section */
.our-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  min-height: 75vh;
  padding: 30px;
  background: url(images/headphones_hero_2.jpg) center center/cover no-repeat;
  color: var(--color-white);
}

/* Text block for the "Our Results" section */
.results-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.results-text h2 {
  /* Font size for the section title */
  font-size: var(--font-size-medium);
}

.results-text p {
  /* Line height and margin for the paragraph */
  line-height: var(--line-height-bold);
  font-size: var(--font-size-standard);
  margin-top: 40px;
}

/* Container for the result blocks */
.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

/* Individual result block styling */
.result-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: var(--line-height-bold);
  max-width: 190px;
  background-image: url(images/pentagon.svg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 190px;
  width: 190px;
}

.result-block h3 {
  font-size: var(--font-size-large);
  margin: 10px 0;
}

.result-block p {
  margin: 0;
  font-size: var(--font-size-small);
}

/* Media Queries for responsiveness */

/* Tablet devices (screen width less than 768px and greater than 480px) */
@media screen and (max-width: 768px) {
  .our-results .results-text {
    width: 80%;
  }
  .result-block {
    flex-basis: calc(50% - 50px); /* Adjust block width */
  }
}

/* Mobile devices (screen width 480px or less) */
@media screen and (max-width: 480px) {
  .result-block {
    flex-basis: calc(100% - 20px); 
  }
  .results-container {
    justify-content: center;
  }
}

/* Contact Us Section */


/* Container for the contact section */
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 20px;
}

/* Contact form styling */
.contact-form {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  width: 400px;
  font-family: var(--font-family);
  overflow: hidden;
}

/* Form title */
.contact-form h2 {
  font-size: var(--font-size-large);
  color: #071629;
  margin-bottom: 20px;
}

/* Form group styling */
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(7, 22, 41, 0.1745);
}

/* Form labels */
.form-group label {
  margin-bottom: 8px;
  color: #071629;
  font-size: var(--font-size-small);
  font-weight: 600;
}

/* Form input and textarea styling */
.form-input {
  height: 30px;
  width: 100%;
  border: none;
  padding: 0px;
}


/* Button hover state */
.contact-form button:hover {
  opacity: var(--button-hover-opacity);
}

/* Media Queries for responsiveness */

/* Tablet and mobile devices (screen width less than 768px) */
@media screen and (max-width: 768px) {
  .contact-form {
    padding: 20px;
  }

}

/* Mobile devices (screen width 480px or less) */
@media screen and (max-width: 480px) {
  .contact-form {
    padding: 15px;
  }
}
 

/* Footer Section */

/* Container for the footer section */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #071629;
  width: 100%;
  height: 249px;
}
  

/* Container for the footer content */
.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60%;
}

/* Content within the footer (logo and social icons) */
.footer-content {
  margin: 80px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

/* Logo styling in the footer */
.footer-logo img {
  width: 161px;
  height: 32px;
  flex-shrink: 0;
}

/* Social icons container */
.footer-social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 130px;
}

/* Social icon styles */
.social-icon {
  font-size: var(--font-size-medium);
  color: var(--color-white);
}

/* Hover state for social icons */
.social-icon:hover {
  opacity: var(--button-hover-opacity);
}

/* Footer text styling */
footer p {
  color: var(--color-white);
  opacity: 0.3517;
  font-family: var(--font-family);
  font-size: var(--font-size-xsmall);
  text-align: center;
  height: 20px;
}

/* Media Queries for responsiveness */

/* Tablet devices (screen width less than 768px and greater than 480px) */
@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-logo img {
    margin-bottom: 20px;
  }
  .footer-social-icons {
    justify-content: center;
  }
}

/* Mobile devices (screen width 480px or less) */
@media screen and (max-width: 480px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-logo img {
    margin-bottom: 20px;
  }
  .footer-social-icons {
    flex-direction: row;
    justify-content: center;
  }
}